<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>APP LOGO</span>

        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/login">
                <mat-icon>exit_to_app</mat-icon>
                Sign Out
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>